.img-card{
    width: 5rem;
    height: 4rem;
    border-radius: 0.5rem;
   
}
.img-card img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.img-card.active{
  
    border-radius: 0.5rem;
    outline: none !important;
    position: relative;
}
.img-card.active img{
  
 
    position: relative;
}
.img-card.active div{
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    border: 2px solid hsl(26, 100%, 55%);
    width: 96% !important;
    height: 60px !important;
    border-radius: 0.5rem;
    
    opacity: 0.40;
    background-color:  hsl(25, 100%, 94%);;
}