.header-div{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 7rem;
    position: relative;
}
.header {
 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 6rem;
  width: 90%;
  margin-left: 3rem;
  border-bottom: 1px solid hsl(220, 10%, 94%)
}
.header h2 {
  color: #000000;
  padding: 0;
  margin: 0;
  margin-left: 2rem;
}
.menu{
    height: 100%;
}
.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 25rem;
  justify-content: space-around;
  
  height: 100%;
  margin: 0 ;
  margin-left: 5rem;
}
.header ul li{
    color:  hsl(0, 2%, 79%);

   
    border-radius: 2px;
    height: 60%;
    margin-top: 37px;
    cursor: pointer;
}
.header-div ul li:hover{
    border-bottom: 4px solid  hsl(26, 100%, 55%);
    color: hsl(0, 4%, 29%);
    transition: all 0.1s ease-in;
}
.cart-div {
  width: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: 2rem;
}
.cart-div img:nth-child(1) {

    cursor: pointer;
  }
.cart-div img:nth-child(2) {
  width: 2rem;
  cursor: pointer;
}
.cart-div img:nth-child(2):hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}
.menu-icon{
    position: absolute;
    left: 1rem;
    top: 1.7rem;
    display: none;
    z-index: 101;
}

@media screen and (max-width: 600px) {
    .header-div{
        height: 4rem !important;
    }
    .header{
        width: 100% !important;
        border: none;
        margin: 0 !important;
        height: 4rem !important;
    }
    .header h2{
        margin-left: 3rem;
    }
    
    .menu{
        display: none;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .menu.active{
        display: flex;
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        height: 100vh;
        z-index: 100;
        background-color: hsl(0, 0%, 100%);
        padding: 0.4rem;
        width: 12rem;
        margin: 0 !important;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      

    }
    .menu ul{
  
        flex-direction: column ;
        justify-content: flex-start !important;
        align-items: flex-start;
        margin: 0;
        margin-top: 3rem;
        padding: 0.4rem;
        height: 13rem !important;
        padding: 0 !important;

        


    }
    .menu ul li{
        color: #000000;
        font-weight: 800;
        height: 4rem;
        width: 100%;
        text-align: left;
        padding: 0.5rem;
        padding-left: 0 !important;
        margin: 0 !important;
    }
  
}